<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password | Politico</title>
    <link rel="stylesheet" href="../css/auth-reset-password.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
        </div>
    </nav>
    <div class="send-email">
        <img src="../assets//authentication.svg" alt="authentication illustration">
        <div class="form">
            <h3>Reset password</h3>
            <p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
            <form action="">
                <input type="text" name="email" placeholder="Email">
                <br>
                <input type="submit">
            </form>
            <a href="../index.html">Back to Sign in</a>
        </div>
    </div>
</body>
</html>