<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico | Become a candidate</title>
    <link rel="stylesheet" href="../css/become-candidate.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
            <div class="nav-menu">
                <ul class="horizontal-menu">
                    <li id="nav-view-parties">All parties</li>
                    <li id="nav-view-candidates">All candidates</li>
                    <li id="nav-history">My voting history</li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="burger-menu">
            <img src="../assets/open-menu.svg" alt="menu icon" id="burger">
        </div>
        <div class="menu">
            <div class="menu-items">
                <div class="profile">
                    <p class="user-type">User</p>
                    <hr>
                </div>
                <ul>
                    <li id="view-parties">All political parties</li>
                    <li id="view-candidates">All candidates</li>
                    <li id="history">My voting history</li>
                </ul>
            </div>
        </div>
        
        <div class="display">
            <div class="heading">
                <h3>Become a candidate</h3>
            </div>
            <div class="form">
                <form action="">
                    <select name="office-type" id="">
                        <option selected disabled>Choose office type</option>
                        <option value="federal">Federal</option>
                        <option value="legislative">Legislative</option>
                        <option value="state">State</option>
                        <option value="local">Local Government</option>
                        <option value="federal">Federal</option>
                    </select>
                    <input type="text" name="office" placeholder="Office name">
                    <input type="text" name="party" placeholder="Your political party, if any">
                     <br>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <script src="../scripts/become-candidate.js"></script>
</body>
</html>