<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico | Create party</title>
    <link rel="stylesheet" href="../css/create-political-party.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
            <div class="nav-menu">
                <ul class="horizontal-menu">
                    <li id="nav-view-parties">All parties</li>
                    <li id="nav-create-party">Create party</li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="burger-menu">
            <img src="../assets/open-menu.svg" alt="menu icon" id="burger">
        </div>
        <div class="menu">
            <div class="menu-items">
                <div class="profile">
                    <img src="../assets/flower-child-336658_1920.jpg" alt="profile picture" id="profile-picture">
                    <p class="name">Flavia Muneza</p>
                    <p class="user-type">Admin</p>
                    <hr>
                </div>
                <ul>
                    <li id="view-parties">All political parties</li>
                    <li id="create-party">Create political party</li>
                </ul>
            </div>
        </div>
        
        <div class="display">
            <div class="heading">
                <h3>Create new political party</h3>
            </div>
            <div class="form">
                <form action="">
                    <input type="text" name="name" placeholder="Party name">
                    <input type="text" name="motto" placeholder="Party motto">
                    <input type="text" name="headquarter" placeholder="headquarter">
                     <br>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
    <script src="../scripts/create-political-party.js"></script>
</body>
</html>