<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password | Politico</title>
    <link rel="stylesheet" href="../css/reset-password.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
        </div>
    </nav>
    <div class="send-email">
        <img src="../assets//authentication.svg" alt="authentication illustration">
        <div class="form">
            <h3>Create new password</h3>
            <form action="">
                <input type="password" name="password" placeholder="Password">
                <br>
                <input type="password" name="confirm_password" placeholder="Confirm Password">
                <br>
                <input type="submit" id="submit">
            </form>
        </div>
    </div>
    <script src="../scripts/reset-password.js"></script>
</body>
</html>