<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Politico</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
            <a href="../index.html" class="button">Sign In</a>
        </div>
    </nav>

    <div class="container">
        <div class="description">
            <img src="../assets/sign-up-illustration.svg" alt="Sign up illustration">
            <h4>Make your voice heard during elections.</h4>
        </div>
        <div class="signup-form">
            <h3>Create an account</h3>
            <form action="" name="signup">
                <input type="text" placeholder="First name" name="firstName" required>
                <p class="firstName-feedback vldtn-feedback"></p>

                <input type="text" placeholder="Last name" name="lastName" required>
                <p class="lastName-feedback vldtn-feedback"></p>

                <input type="text" placeholder="Email" name="email" required>
                <p class="email-feedback vldtn-feedback"></p>

                <input type="tel" placeholder="Phone number" name="phoneNumber" required>
                <p class="tel-feedback vldtn-feedback"></p>

                <input type="password" placeholder="Password" name="password" required>
                <p class="password-feedback vldtn-feedback"></p>

                <input type="password" placeholder="Confirm password" name="confirmPassword" required>
                <p class="confirmPassword-feedback vldtn-feedback"></p>
                <br>
                
                <input type="submit" value="Create account" class="button" id="create-account">
            </form>
            <br>
            <a href="../index.html">Have an account? Sign in instead</a>
        </div>
    </div>
    <script src="../scripts/signup.js"></script>
</body>
</html>