<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Politico</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
            <a href="../index.html" class="button">Sign In</a>
        </div>
    </nav>

    <div class="container">
        <div class="description">
            <img src="../assets/sign-up-illustration.svg" alt="Sign up illustration">
            <h4>Make your voice heard during elections.</h4>
        </div>
        <div class="signup-form">
            <h3>Create an account</h3>
            <form action="">
                <input type="text" placeholder="First name" required>
                <input type="text" placeholder="Last name" required>
                <input type="text" placeholder="Email" required>
                <input type="tel" placeholder="Phone number" required>
                <input type="text" placeholder="Address" required>
                <input type="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm password" required>
                <br>
                <input type="submit" value="Create account" class="button">
            </form>
            <br>
            <a href="../index.html">Have an account? Sign in instead</a>
        </div>
    </div>
</body>
</html>