<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico | View parties</title>
    <link rel="stylesheet" href="../css/view-politicians.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
            <div class="nav-menu">
                <ul class="horizontal-menu">
                    <li id="nav-view-parties">All parties</li>
                    <li id="nav-view-candidates">All candidates</li>
                    <li id="nav-history">My voting history</li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="burger-menu">
            <img src="../assets/open-menu.svg" alt="menu icon" id="burger">
        </div>
        <div class="menu">
            <div class="menu-items">
                <div class="profile">
                    <p class="user-type">User</p>
                    <hr>
                </div>
                <ul>
                    <li id="view-parties">All political parties</li>
                    <li id="view-candidates">All candidates</li>
                    <li id="history">My voting history</li>
                </ul>
            </div>
        </div>
        
        <div class="display">
            <div class="heading">
                <h3>All candidates</h3>
            </div>
            <div class="offices">
                    <hr>
                    <h3>Governor Office</h3>
                    <hr>
                <div class="office">
                    <div class="candidate">
                        <p><span class="subtitles"> Candidate name:</span> <span class="value"> John Michael</span></p>
                        <p><span class="subtitles"> Political party:</span> <span class="value"> Liberals</span></p>
                        <p><span class="subtitles"> Type of office:</span> <span class="value"> State</span></p>
                        <a href="#">Vote</a>
                    </div>
        
                    <div class="candidate">
                        <p><span class="subtitles"> Candidate name:</span> <span class="value"> Eric Hayes</span></p>
                        <p><span class="subtitles"> Political party:</span> <span class="value"> Liberals</span></p>
                        <p><span class="subtitles"> Type of office:</span> <span class="value"> State</span></p>
                        <a href="#">Vote</a>
                    </div>
                </div>

                    <hr>
                    <h3>Attorney General Office</h3>
                    <hr>
                <div class="office">
                    <div class="candidate">
                        <p><span class="subtitles"> Candidate name:</span> <span class="value">Phil Jackson</span></p>
                        <p><span class="subtitles"> Political party:</span> <span class="value"> Conservatives</span></p>
                        <p><span class="subtitles"> Type of office:</span> <span class="value"> Federal</span></p>
                        <a href="#">Vote</a>
                    </div>
        
                    <div class="candidate">
                        <p><span class="subtitles"> Candidate name:</span> <span class="value"> Jones Myles</span></p>
                        <p><span class="subtitles"> Political party:</span> <span class="value">Independent</span></p>
                        <p><span class="subtitles"> Type of office:</span> <span class="value"> Federal</span></p>
                        <a href="#">Vote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/view-politicians.js"></script>
</body>
</html>