<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politico | Voting history</title>
    <link rel="stylesheet" href="../css/voting-history.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h2>Politico</h2>
            <div class="nav-menu">
                <ul class="horizontal-menu">
                    <li id="nav-view-parties">All parties</li>
                    <li id="nav-view-candidates">All candidates</li>
                    <li id="nav-history">My voting history</li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="burger-menu">
            <img src="../assets/open-menu.svg" alt="menu icon" id="burger">
        </div>
        <div class="menu">
            <div class="menu-items">
                <div class="profile">
                    <p class="user-type">User</p>
                    <hr>
                </div>
                <ul>
                    <li id="view-parties">All political parties</li>
                    <li id="view-candidates">All candidates</li>
                    <li id="history">My voting history</li>
                </ul>
            </div>
        </div>
        
        <div class="display">
            <div class="heading">
                <h3>Voting history</h3>
            </div>
            <div class="voting-history">
                <div class="vote">
                    <p><span class="subtitles"> Date:</span> <br> <span class="value"> March 13, 2019</span></p>
                    <p><span class="subtitles"> Candidate name:</span> <br> <span class="value"> John Smith </span></p>
                    <p><span class="subtitles"> Office type:</span> <br> <span class="value"> State </span></p>
                    <p><span class="subtitles"> Government office:</span> <br> <span class="value"> Governor</span></p>
                    <p><span class="subtitles"> Election result:</span> <br> <span class="value"> Lost (5%)</span></p>
                </div>

                <div class="vote">
                    <p><span class="subtitles"> Date:</span> <br> <span class="value"> September 4, 2019</span></p>
                    <p><span class="subtitles"> Candidate name:</span> <br> <span class="value"> Harris Kamala </span></p>
                    <p><span class="subtitles"> Office type:</span> <br> <span class="value"> Local Government </span></p>
                    <p><span class="subtitles"> Government office:</span> <br> <span class="value"> City Mayor </span></p>
                    <p><span class="subtitles"> Election result:</span> <br> <span class="value"> Won (65%) </span></p>
                </div>

                <div class="vote">
                    <p><span class="subtitles"> Date:</span> <br> <span class="value"> January 25, 2019</span></p>
                    <p><span class="subtitles"> Candidate name:</span> <br> <span class="value"> Travis Henry </span></p>
                    <p><span class="subtitles"> Office type:</span> <br> <span class="value"> Federal </span></p>
                    <p><span class="subtitles"> Government office:</span> <br> <span class="value"> Attorney General </span></p>
                    <p><span class="subtitles"> Election result:</span> <br> <span class="value"> Pending</span></p>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/voting-history.js"></script>
</body>
</html>