@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: 1rem;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.nav-container h2 {
    color: rgb(44, 17, 105);
}

.send-email {
    text-align: center;
    margin-top: 25%;
}

.send-email img {
    width: 50%;
}

.form {
    background-color: #ebebeb;
    width: 80%;
    margin: 1rem auto;
    border-radius: 7px;
    padding: 1rem;
}

.form h3 {
    color: #2c1169;
}

form {
    margin: 1rem;
}

input {
    margin: 0.3rem;
    border: none;
    padding: 0.5rem;
    outline: none;
    border-radius: 3px;
}

@media screen and (min-width: 765px){
    .send-email {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 13% auto;
        width: 90%;
    }

    .send-email img {
        width: 35%;
    }

    .form {
        width: 45%;
    }

    input {
        width: 40%;
    }
}

@media screen and (min-width: 1400px){
    .nav-container {
        width: 70%;
    }

    .send-email {
        width: 75%;
    }

    .form {
        width: 50%;
    }
}

@media screen and (min-width: 2000px) {
    .nav-container {
        width: 60%;
    }

    .send-email {
        width: 60%;
        margin-top: 8%;
    }
}