<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Politico</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="./index.html"><h2>Politico</h2></a>
            <a href="./html/signup.html" class="button">Sign Up</a>
        </div>
    </nav>
    <div class="container">
        <div class="text">
            <img src="./assets/undraw_voting_nvu7.svg" alt="">
            <div class="text-login">
                <div class="description">
                    <h1>Vote with elegance and transparency</h1>
                    <p>Politico enables citizens to give their mandate to politicians running for different government offices
                    while building trust in the process through transparency</p>
                    <br>
                    <a href="./html/signup.html" class="get-started">Get started</a>
                </div>
                <hr><span>Or</span><hr>
                <div class="login-form">
                    <h3>Sign in to Politico</h3>
                    <form action="">
                        <input type="text" placeholder="Email" required>
                        <br>
                        <input type="password" placeholder="Password" required>
                        <br>
                        <input type="submit" value="Sign In" class="button" id="signin">
                    </form>
                    <a href="../templates/html/auth-reset-password.html">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; Politico 2020</p>
    </footer>
</body>
</html>